{% extends 'base.html' %}

{% block content %}

<div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{pariente.nombre}} {{pariente.apellido}}</h5>
      <p class="card-text">{{pariente.descripcion}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Parentesco: {{pariente.parentesco}}</li>
      <li class="list-group-item">Edad: {{pariente.edad}} anios</li>
      <li class="list-group-item">Fecha de nacimiento: {{pariente.fdn}}</li>
    </ul>
    <div class="card-body">
      <a href="{% url 'inicio' %}" class="card-link">Volver al inicio</a>
    </div>
  </div>

  
{% endblock %}